---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "2024 (Posición Freelancing)",
    title: "Mid Senior Frontend",
    company: "Sysde (VOLVO Brasil)",
    description: "Migré una aplicación de Angular 8 a Angular 16, logrando una mejora del 90% en el rendimiento mediante optimización y análisis del bundle con herramientas como Webpack Bundle Analyzer y Bundlephobia. Reestructuré gran parte del proyecto, mejorando la estructura y la interfaz de usuario, y desarrollé un módulo desde cero siguiendo las mejores prácticas.",
  },
  {
    date: "Septiembre 2022 - Actualmente",
    title: "Mid Senior Frontend",
    company: "Minsait (MAEUEC España)",
    description: "Como Frontend Principal y UI Designer, desarrollé y mantuve guías de estilo para Vanilla JavaScript y Angular, además de crear un catálogo de componentes especializados alineados con la línea gráfica de la empresa. Utilicé TypeScript, Webpack 5, Angular, Storybook y Spring Boot. También propuse y diseñé una arquitectura de microfrontends, utilizando Module Federation de Webpack 5 y Angular, para mejorar la flexibilidad e integración de los componentes en diversos proyectos.",
  },
  {
    date: "Agosto 2019 - Septiembre 2022",
    title: "Fullstack Developer",
    company: "Centro Integral de Mejoramiento Académico",
    description: "Lideré la implementación de Clean Architecture en una app de inglés desarrollada con Flutter, Firebase, Spring Boot, Node.js y PostgreSQL. Como Frontend Principal, fui responsable del diseño y la arquitectura en Angular, guiando a un equipo de pasantes en la creación de un aula virtual durante la pandemia (2020). Además, migré sistemas monolíticos en jQuery y PHP a Vanilla JS y TypeScript con Node.js. Desarrollé juegos en TypeScript y una pizarra virtual en React con Konva, integrada en la plataforma educativa de la institución basada en Angular."
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
