---
import Badge from "@/components/Badge.astro"
import SocialPill from "@/components/SocialPill.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import YouTubeIcon from '@/components/icons/YouTube.astro';
import GmailIcon from '@/components/icons/Gmail.astro';
import TikTokIcon from "@/components/icons/TikTok.astro";

const personalImageAlt = "Alexander Avila";
---
<style>
  .sh-blinker {
    animation: blinker-animation 800ms infinite;
  }
  @keyframes blinker-animation {
    0% { color: inherit; }
    50% { color: transparent; }
    100% { color: inherit; }
  }
</style>

<div class="max-w-2xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/prophet-code.webp"
      alt={ personalImageAlt }
    />
    <a
      href="https://www.linkedin.com/in/alexander-avila-briones"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white min-h-[85px] sm:min-h-[auto]">
    Hey, soy
    <span class="js-typed-name"></span>
    <span class="sh-blinker">|</span>
    <span class="text-3xl sm:text-4xl">😼</span>
  </h1>
  <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-red-300 [&>strong]:text-red-500 [&>strong]:font-semibold dark:text-gray-300">
    Con más de 5 años de experiencia. <strong>Ingeniero de sistemas, desarrollador de
    software y creador de contenido sobre programación.</strong>
    Originario de Perú 🦙🇵🇪, especializado en desarrollar soluciones únicas e innovadoras.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:alexanderavilab@gmail.com">
      <GmailIcon class="size-3.5" />
      Gmail
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/alexander-avila-briones">
      <LinkedInIcon class="size-3.5" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://www.youtube.com/@ProphetCode">
      <YouTubeIcon class="size-3.5" />
      YouTube
    </SocialPill>
    <SocialPill href="https://www.tiktok.com/@prophet.code">
      <TikTokIcon class="size-3.5" />
      TikTok
    </SocialPill>
  </nav>
</div>

<script>
  const typedTarget = document.querySelector('.js-typed-name');
  const toType = ['Alexander Avila', 'Prophet Code'];
  const delayTypingChar = 120;
  const delayErasingText = 100;
  const delayTypingText = 900;

  let totypeIndex = 0;
  let charIndex = 0;
  const typeText = () => {
    if (!typedTarget) return;

    if (charIndex < toType[totypeIndex].length) {
      typedTarget.textContent += toType[totypeIndex].charAt(charIndex);
      charIndex++;
      setTimeout(typeText, delayTypingChar);
    }
    else setTimeout(eraseText, delayTypingText);
  };
  const eraseText = () => {
    if (!typedTarget) return;

    if (charIndex > 0) {
      typedTarget.textContent = toType[totypeIndex].substring(0, charIndex-1);
      charIndex = charIndex-1;
      setTimeout(eraseText, delayErasingText);
    }
    else {
      totypeIndex++;
      if (totypeIndex >= toType.length) totypeIndex = 0;
      setTimeout(typeText, delayTypingText);
    }
  };

  document.addEventListener('astro:page-load', () => {
    if (toType[totypeIndex].length) setTimeout(typeText, delayTypingText);
  });
</script>